.wrapper {
    margin: 0 auto;
    width: 700px;
}

.input {
    padding: 10px;

}

.inputBtn {
    background-color: blueviolet;
    width: 35px;
    height: 35px;
    color: white;
    font-size: 25px;
    margin: 10px;
}

.taskItem {
    background-color: rgb(160, 201, 160);
    color: rgb(92, 91, 91);
    padding: 10px;
    margin: 10px 0 10px 0;
}

.deleteBtn {
    color: white;
    font-weight: bold;
    background-color: blueviolet;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 10px;
    margin-left: 20px;
}

.taskCount {
    color: blueviolet;
    font-weight: bold;
}

.deleteAllBtn {
    margin-left: 20px;
    width: 100px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    color: blueviolet;
    font-weight: bold;
    background-color: white;
}